<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5"
    />
    <meta name="author" content="AdminKit" />
    <meta
      name="keywords"
      content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>SEO Checker</title>

    <link
      href="/css/app.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <%- include('../layout/sidebar'); -%>


      <div class="main">
        <%- include('../layout/navbar'); -%>

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"> Dashboard</h1>
            <div class="row">
              <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Latest Projects</h5>
                  </div>
                  <table class="table table-hover my-0">
                    <thead>
                      <tr>
                        <th>Page</th>
                        <th class="d-none d-xl-table-cell">Position</th>
                        <th class="d-none d-xl-table-cell">Domain Authority</th>
                        <th class="d-none d-xl-table-cell">Web SSL</th>
                        <th class="d-none d-xl-table-cell">Speed</th>
                        <th>Backlinks</th>
                        <th class="d-none d-md-table-cell">Linking Domain</th>
                      </tr>
                    </thead>
                    <tbody>
                 
                      <tr>
                        <td></td>
                        <td>
                          <span class="badge bg-success"></span>
                        </td>
                        <td class="d-none d-xl-table-cell"></td>
                        <td class="d-none d-xl-table-cell">
                         
                        </td>
                        <td class="d-none d-xl-table-cell"></td>
                        <td class="d-none d-xl-table-cell">
                         
                        </td>
                        <td class="d-none d-md-table-cell">
                          
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title fs-2 text-dark">
                      Seo Suggestion :
                      <span
                        ><a href=""></a></span
                      >
                    </h5>
                  </div>
                  <div class="card-body">
                    <h1>Missing SEO Technique</h1>
                   
                    <ul>
                      <li>
                        <p class="text-muted">
                         
                        </p>
                      </li>
                    </ul>
                  
                    <h1>Comments</h1>
                    
                    <ul>
                      <li>
                        <p class="text-muted"></p>
                      </li>
                    </ul>
                  
                    <h1>SEO Rules</h1>
                    
                    <ul>
                      <li>
                        <p class="text-muted"></p>
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../layout/footer'); -%>
      </div>
    </div>

    <script src="/js/app.js"></script>

   
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
          type: "pie",
          data: {
            labels: ["Chrome", "Firefox", "IE"],
            datasets: [
              {
                data: [4306, 3801, 1689],
                backgroundColor: [
                  window.theme.primary,
                  window.theme.warning,
                  window.theme.danger,
                ],
                borderWidth: 5,
              },
            ],
          },
          options: {
            responsive: !window.MSInputMethodContext,
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            cutoutPercentage: 75,
          },
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
          type: "bar",
          data: {
            labels: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ],
            datasets: [
              {
                label: "This year",
                backgroundColor: window.theme.primary,
                borderColor: window.theme.primary,
                hoverBackgroundColor: window.theme.primary,
                hoverBorderColor: window.theme.primary,
                data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                barPercentage: 0.75,
                categoryPercentage: 0.5,
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            scales: {
              yAxes: [
                {
                  gridLines: {
                    display: false,
                  },
                  stacked: false,
                  ticks: {
                    stepSize: 20,
                  },
                },
              ],
              xAxes: [
                {
                  stacked: false,
                  gridLines: {
                    color: "transparent",
                  },
                },
              ],
            },
          },
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var markers = [
          {
            coords: [31.230391, 121.473701],
            name: "Shanghai",
          },
          {
            coords: [28.70406, 77.102493],
            name: "Delhi",
          },
          {
            coords: [6.524379, 3.379206],
            name: "Lagos",
          },
          {
            coords: [35.689487, 139.691711],
            name: "Tokyo",
          },
          {
            coords: [23.12911, 113.264381],
            name: "Guangzhou",
          },
          {
            coords: [40.7127837, -74.0059413],
            name: "New York",
          },
          {
            coords: [34.052235, -118.243683],
            name: "Los Angeles",
          },
          {
            coords: [41.878113, -87.629799],
            name: "Chicago",
          },
          {
            coords: [51.507351, -0.127758],
            name: "London",
          },
          {
            coords: [40.416775, -3.70379],
            name: "Madrid ",
          },
        ];
        var map = new jsVectorMap({
          map: "world",
          selector: "#world_map",
          zoomButtons: true,
          markers: markers,
          markerStyle: {
            initial: {
              r: 9,
              strokeWidth: 7,
              stokeOpacity: 0.4,
              fill: window.theme.primary,
            },
            hover: {
              fill: window.theme.primary,
              stroke: window.theme.primary,
            },
          },
          zoomOnScroll: false,
        });
        window.addEventListener("resize", () => {
          map.updateSize();
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
        var defaultDate =
          date.getUTCFullYear() +
          "-" +
          (date.getUTCMonth() + 1) +
          "-" +
          date.getUTCDate();
        document.getElementById("datetimepicker-dashboard").flatpickr({
          inline: true,
          prevArrow: '<span title="Previous month">&laquo;</span>',
          nextArrow: '<span title="Next month">&raquo;</span>',
          defaultDate: defaultDate,
        });
      });
    </script>
  </body>
</html>
