<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>
    <input id="exp" type="text" value="<%= exp %>" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

      (async () => {
        let expired = document.getElementById("exp").value

        try {
            // Kirim permintaan untuk mendapatkan token baru
            const response = await fetch("http://localhost:3000/token", {
              method: 'GET',
              credentials: 'include' // Ini penting untuk mengirim cookies
            });
    
            // Periksa apakah respons berhasil
            if (!response.ok) {
                throw new Error("Failed to refresh token");
            }
    
            // Ambil data dari respons
            const data = await response.json();
            
    
            console.log("New access token:", data.accessToken);
        } catch (error) {
            console.error("Error refreshing token:", error);
        }

       
        axios.interceptors.request.use(
          async (config) => {
            const currendDate = new Date();
            if (expired * 1000 < currendDate.getTime()) {
              const response = await fetch("http://localhost:3000/token", {
                method: 'GET',
                credentials: 'include' // Ini penting untuk mengirim cookies
              });
            }
            return config;
          },
          (error) => {
            return Promise.reject(error);
          }
        );
    })();

      
      
    </script>
  </body>
</html>
